@model Article
<!-- Выжимка из статьи (пока что статья отображается целиком) -->
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <!-- Контейнер статьи -->
            <div class="border rounded-3 p-2 ps-4 bg-white">
                <!-- Имя автора, дата публикации и рейтинг -->
                <div class="d-flex small text-muted align-items-center gap-2">
                    <a class="page-link" asp-controller="User" asp-route-username="@Model.login_Users">@@@Model.login_Users</a>
                    <span class="fw-light">@Model.published_at.ToString("f")</span>
                    <span class="badge bg-success bg-opacity-10 text-success">Рейтинг: @Model.rating</span>
                    <a class="page-link" asp-controller="Article" asp-action="Index" asp-route-id="@Model.id">Перейти к статье</a>
                </div>

                <!-- Заголовок статьи -->
                <h2 class="mb-3">@Model.title</h2>

                <!-- Содержание статьи -->
                <div class="text-wrap text-break">
                    @Html.Raw(Model.content)
                </div>
            </div>
        </div>
    </div>
</div>