@model Article
@* Маленькая карточка col-md-4, большая col-md-6 *@
<div class="card article-card">
    <div style="font-size: 0.8rem" class="d-flex gap-3 m-1 ms-3">
        <div>
            <a class="page-link fw-semibold" asp-controller="User" asp-action="Index" asp-route-username="@Model.login_Users">
                <i class="bi bi-person"></i>@Model.login_Users
            </a>
        </div>
        <span class="text-muted">@Model.published_at.ToLongDateString()</span>
    </div>
    <a class="card-title page-link ms-3 me-3" title="@Model.title" asp-controller="Article" asp-action="Index" asp-route-id="@Model.id">@Model.title</a>
    @if (Model.preview_img != null)
    {
        <img src="@Model.preview_img" class="preview-img" alt="Превью к статье">
        <div class="card-body pb-0">
            <p class="card-text">@Model.excerpt</p>
        </div>
    }
    else
    {
        <div class="card-body pt-0 pb-0">
            <p class="card-text">@Model.excerpt</p>
        </div>
    }

    <div class="d-flex gap-2 align-items-center mb-3 ms-3">
        <div title="Рейтинг" class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded">
            <i class="bi bi-star me-1"></i>@Model.rating
        </div>
        <a title="Комментарии" class="badge bg-light-subtle border border-light-subtle text-light-emphasis rounded link-underline link-underline-opacity-0"
            asp-controller="Article" asp-action="Index" asp-route-id="@Model.id" asp-fragment="comments">
            <i class="bi bi-chat-left-text me-1"></i>@Model.comment_count
        </a>
    </div>
</div>