@model DraftArticle

@* Перед partial должно быть <div class="col-md-4">
    для маленькой карточки или col-md-6 для большой *@

<div class="card article-card">
    <div style="font-size: 0.8rem" class="d-flex gap-3 m-1 ms-3">
        <div>
            <a class="page-link fw-semibold" asp-controller="User" asp-action="Index" asp-route-username="@Model.login_Users">
                <i class="bi bi-person"></i>@Model.login_Users
            </a>
        </div>
    </div>
    <a class="card-title page-link ms-3 me-3" title="@Model.title" asp-action="Edit" asp-route-author="@Model.login_Users" asp-route-id="@Model.id">@Model.title</a>
    @if (Model.preview_img != null)
    {
        <img src="@Model.preview_img" class="preview-img" alt="Превью к статье">
        <div class="card-body">
            <p class="card-text">@Model.excerpt</p>
        </div>
    }
    else
    {
        <div class="card-body pt-0">
            <p class="card-text">@Model.excerpt</p>
        </div>
    }
</div>