@model IEnumerable<Comment>
@{
    string username = ViewBag.username;
    ViewData["Title"] = $"Комментарии от @{username}";
}

<nav class="navbar navbar-expand rounded">
    <div class="collapse navbar-collapse justify-content-md-center">
        <ul class="navbar-nav gap-3">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" asp-action="Index" asp-route-username="@username">О пользователе</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-action="Articles" asp-route-username="@username">Статьи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" asp-action="Comments" asp-route-username="@username">Комментарии</a>
            </li>
        </ul>
    </div>
</nav>

<div class="comments mb-3">
    @if(!Model.Any())
    {
        <div>Пользователь не оставил ни одного комментария</div>
    }

@foreach(Comment comment in Model)
{
    <div class="mb-3">
        <div class="comment-header d-flex small text-muted gap-2">
            <a class="page-link" asp-controller="User" asp-action="Index">
                <i class="bi bi-person"></i>@comment.login_Users
            </a>
            <span class="fw-light">@comment.published_at.ToString("g")</span>
            <a class="page-link"
                    asp-controller="Article"
                    asp-action="Index"
                    asp-route-id="@comment.id_Articles"
                    asp-fragment="comment_@comment.id">Перейти к комментарию</a>
        </div>
        <div>@comment.content</div>
    </div>

    @* <div class="mb-4 ms-4">
        <div class="d-flex align-items-center mb-1 gap-2">
            <span class="fw-semibold">@comment.login_Users</span>
            <span class="text-muted small">@comment.published_at.ToString("g")</span>
            
        </div>
        <p class="mb-2">@comment.content</p>
    </div> *@
}
</div>

<partial name="_Pagination" model="@ViewBag.PageInfo" />