@model MusicBlogs.Models.User
@{
    string username = ViewBag.username;
    ViewData["Title"] = $"Пользователь {username}";
}

<nav class="navbar navbar-expand rounded">
    <div class="container-fluid">
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" asp-action="Index" asp-route-username="@username">О пользователе</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Articles" asp-route-username="@username">Статьи</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="Comments" asp-route-username="@username">Комментарии</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<b>Имя пользователя:</b>
<div>@Model.login</div>
<b>Зарегистрирован:</b>
<div>@Model.created_at.ToString("f")</div>
@if (Model.about != null)
{
    <b>О себе:</b>
    <div>@Model.about</div>
}
@if (Model.contacts != null)
{
    <b>Контакты:</b>
    <div>@Model.contacts</div>
}
@if (Model.is_moderator)
{
    <b style="color: forestgreen">Модератор</b>
}
else
{
    <b>Обычный пользователь</b>
}