@model MusicBlogs.ViewModels.ArticleViewModel

@{
    ViewData["Title"] = Model.title;
}

<script>
    'use strict';

    // Убирает ответ из нового комментария
    function removeAnswerTo() {
    document.getElementById("answerToRoot").remove();
    }

    // Устанавливает ответ новому комментарию
    function setAnswerTo(commentId) {
    if (document.getElementById("answerToRoot") !== null) {
    removeAnswerTo();
    }

    const form = document.getElementById("addCommentForm");

    const root = document.createElement("div");
    root.id = "answerToRoot";

    root.innerHTML = `<input hidden name="answerTo" value=` + commentId + `>
    <span>
    <i class="text-muted small">Ответ на <a href="#comment_` + commentId + `">другой комментарий</a></i>
    <button class="btn btn-secondary btn-sm" onclick="removeAnswerTo()">&times;</button>
    </span>`;

    // новые элементы вставляются в начало формы
    form.insertBefore(root, form.children[0]);
    }
</script>

<!-- Статья -->
<div class="container mb-3">
    <div class="row justify-content-center">
        <div class="col-lg-10">
            <!-- Контейнер статьи -->
            <div class="border rounded-3 p-2 ps-4 bg-white">
                <!-- Имя автора, дата публикации и рейтинг -->
                <div class="d-flex small text-muted align-items-center gap-2">
                    <a class="page-link" asp-controller="User" asp-route-username="@Model.author">@@@Model.author</a>
                    <span class="fw-light">@Model.published_at.ToString("f")</span>
                    <span class="badge bg-success bg-opacity-10 text-success">Рейтинг: @Model.rating</span>
                </div>

                <!-- Заголовок статьи -->
                <h2 class="mb-3">@Model.title</h2>

                <!-- Содержание статьи -->
                <div class="lh-base">
                    <p>@Model.content</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Секция комментариев -->
<div class="border-top pt-4">
    <h5 class="mb-4 fw-normal">Комментарии</h5>

    @if (Model.comments.Any())
    {
        <div class="comments">
            @foreach (Comment comment in Model.comments)
            {
                <div class="mb-4 ms-4" id="comment_@comment.id">
                    <div class="d-flex align-items-center mb-1 gap-2">
                        <span class="fw-semibold">@comment.login_Users</span>
                        <span class="text-muted small">@comment.published_at.ToString("g")</span>
                    </div>
                    <p class="mb-2">@comment.content</p>
                    <button class="btn btn-sm btn-outline-secondary py-0 px-2" onclick="setAnswerTo(@comment.id)">Ответить</button>
                </div>
            }
        </div>
    }
    else
    {
        <i>Комментариев нет</i>
    }

    @if (User.Identity.IsAuthenticated)
    {
        <!-- Форма добавления комментария -->
        <h6 class="mb-3 mt-5 fw-normal">Добавить комментарий</h6>
        <form asp-action="AddComment" asp-route-articleId="@Model.id" method="post" id="addCommentForm">
            <div class="d-flex flex-column mb-3 gap-1">
                <textarea class="form-control" rows="3" placeholder="Ваш комментарий..." name="text"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
        </form>
    }
    else
    {
        <span>Для добавления комментария нужно пройти <a asp-controller="Auth" asp-action="Logreg">аутентификацию</a></span>
    }
</div>