@model IEnumerable<Article>

@{
    ViewData["Title"] = "Найденные статьи";
}

@if (!Model.Any())
{
    <div>Статей по вашему запросу не найдено</div>
}

else
{
    if (!string.IsNullOrWhiteSpace(ViewBag.query) && !ViewBag.searchInTitle)
    {
        <div>
            Запрос @ViewBag.query был найден в тексте следующих статей:
        </div>
    }

    <div class="row">
        @foreach (Article article in Model)
        {
            <div class="col-md-4 mb-4">
                @* Маленькая карточка col-md-4, большая col-md-6 *@
                <partial name="_ArticleCard" model="@article" />
            </div>
        }
    </div>

    <div id="query" hidden>@ViewBag.query</div>

    <!-- Пагинация -->
    <tfoot>
        <tr>
            <td colspan="5">
                Страница:
                <div class="btn-group pull-right m-1">
                    @{
                        PagingInfo p = ViewBag.PageInfo;
                        for (int e = 1; e <= p.TotalPages; e++)
                        {
                            if (e == p.CurrentPage)
                            {
                                <a class="btn-primary btn btn-sm disabled">@e</a>
                            }
                            else
                            {
                                <a class="btn-outline-primary btn btn-sm"
                                   asp-route-page="@e"
                                   asp-route-query="@ViewBag.query"
                                   asp-route-tags="@ViewBag.tags"
                                   asp-route-searchIn="@ViewBag.searchIn"
                                   asp-route-sortBy="@ViewBag.sortBy"
                                   asp-route-ascDesc="@ViewBag.ascDesc">@e</a>
                            }
                        }
                    }
                </div>
            </td>
        </tr>
    </tfoot>

    @if (!string.IsNullOrWhiteSpace(ViewBag.query) && ViewBag.searchInTitle)
    {
        @section Scripts{
            <script src="~/lib/mark.js/jquery.mark.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    const query = document.getElementById("query").innerText;

                    $(".card-title").mark(query);
                });
            </script>
        }
    }
}